<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Visualisation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="static/js/3d_scatter.js"></script>
</head>
<body>
<section class="section">
    <div class="container">
      <h1 class="title">
        Data Visualisation
      </h1>
      <p class="subtitle">
        This is my portfolio site for  <strong>Data Visualisation</strong>!
      </p>
    </div>
    <div class="box-flex">
    <div id='myDiv' class="container is-fluid" style="width: 1000px"><!-- Plotly chart will be drawn inside this DIV --></div>
    <div class="column is-fluid"></div>
    </div>
</section>
</body>
</html>